#about_main{
    background-color: rgb(107, 175, 190);
    width: 60%;
    margin-top: 60px;
    margin-left: 20%;
    height: 500px;
    border: gray 5px solid;
    border-radius: 50px;
    text-align: center;
    font-size: large;
    color: white;
}