
#Product_Main{
    width: 35vw;
    border-radius: 20px;
    border: black 2px solid;
    height: 60vh;
    position: relative;
    margin-left: 20px;
}
#Product_Description{
    position: absolute;
    top: 100px;
    left: 50px;
    
}
#Product_Image{
    position: absolute;
    right: 20px;
    top: 20px;
}
#Product_Select{
    position: absolute;
    top: 220px;
    left: 50px;
}
#Product_Image img{
    height: 400px;
    width: 300px;
    border: 3px rgb(223, 21, 21);
    border-radius: 40px;
}
#button_Style{
    width: 150px;
    height: 50px;
    font-size: small;
    border: 2px gray solid;
    border-radius: 20px;
}